<title>Kev the Dev</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta
	name="description"
	content="Software Engineer with a background in Full Stack Web Development."
/>
<meta
	name="keywords"
	content="Software Engineer, Web Development, Programmer, Coding, Kevin Albarran, JavaScript"
/>
<meta name="author" content="Kevin Albarran" />

<meta name="copyright" content="Kevin Albarran" />
<meta name="robots" content="follow" />

<%- include("./css.ejs") %>