/*
COLORS:

Dark blue: #003440      background/text
Teal: #00D0FF             brand color/ important stuff
Darkish blue: #006880     accent color

*/
/* Define css vars */

:root {
    --main-bg-color : #002A33;
    --main-brand-color: #00D0FF;
    --main-accent-color: #006880;
}

/* Styling starts off clean this way */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
