body {
	background-color: var(--main-bg-color);
	font-family: "Montserrat", sans-serif;
}
.container {
	overflow: hidden;
	padding: 0 1rem;
}
h1 {
	color: var(--main-brand-color);
}

.main {
	color: #ffffff;
	height: 100vh;
}

/* General styling for sections */
.about-wrapper,
.portfolio-wrapper,
.contact-wrapper {
	height: 100%;
	padding-top: 15rem;
	padding-bottom: 15rem;
}
.footer-wrapper {
	height: 100%;
	margin-top: 15rem;
	color: var(--main-bg-color);
	background-color: var(--main-brand-color);
}

/* Styling for landing page (what users first see) */
.landing {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}
.landing h1 {
	color: #ffffff;
}

/* About me section styling */
.about-me {
	border: var(--main-accent-color) 1px;
	border-radius: 5%;
	border-style: solid;
	margin: 0;
	padding: 2rem;
}
.about-me > div > h1 {
	padding-bottom: 5rem;
}
.resume {
	position: relative;
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	bottom: -70px;
}
.resume p {
	margin: 0;
}
.resume-button {
	height: 80px;
	width: 160px;
	font-size: 1.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	color: var(--main-bg-color);
	background-color: var(--main-brand-color);
	border-color: var(--main-accent-color);
}

.skills {
	border: var(--main-accent-color) 1px;
	border-radius: 5%;
	border-style: solid;
	margin: 0;
	margin-top: 20rem;
	padding: 2rem;
}

.skills > h1 {
	padding-bottom: 5rem;
}

.front {
	padding-bottom: 2.5rem;
}

/* Footer styling */
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
}
.footer > a {
	margin-top: 2rem;
	color: var(--main-bg-color);
}
.copyright {
	text-align: center;
	margin-top: 2rem;
}
.copyright > p {
	margin: 0;
}
.fa-github-square {
	font-size: 64px;
}
.fa-linkedin {
	font-size: 64px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
	.contact-wrapper {
		padding: 15rem;
	}
}
