body {
    background-color: var(--main-bg-color);
}
.container {
    overflow: hidden;
    padding: 0 3rem;
}

.main {
    color: #ffffff;
    height: 100vh;
}

.landing {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
