<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/meta-links/head") %>
	</head>
	<body>
		<%- include("../partials/nav/nav") %>

		<main class="main">
			<div class="container">
				<div class="landing">
					<h1>Hey I'm Kevin A Software Engineer</h1>
				</div>
				<div>
					<h1>Some title</h1>
					<p>some paragraph</p>
				</div>
			</div>
		</main>
		<%- include("../partials/meta-links/js") %>
	</body>
</html>
