<!DOCTYPE html>
<html>
    <head> 
        <%- include("../partials/meta-links/head") %>
    </head>
    <body>
        <%- include("../partials/nav/nav") %>
        <h1>Hello World</h1>

        <%- include("../partials/meta-links/js") %>
    </body>
</html>