<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/meta-links/head") %>
	</head>
	<body>
		<%- include("../partials/nav/nav") %>

		<main data-spy="scroll" data-target="test" data-offset="20" class="main">
			<div class="container">
				
				<div class="landing">
					<h1>Hey I'm Kevin and I <span id="typed"></span></h1>
				</div>

				<div id="about">
					<%- include("../partials/sections/about.ejs") %>
				</div>
			</div>
		</main>
		<%- include("../partials/meta-links/js") %>
	</body>
</html>
