<nav class="navbar sticky-top desktop">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link test" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link test" href="#portfolio">Portfolio</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link test" href="#contact">Contact</a>
    </li>

  </ul>
</nav