<nav id="test" class="menu-wrap navbar mobile">
	<input type="checkbox" class="toggler" />
	<div class="hamburger"><div></div></div>
	<div class="menu">
		<div>
			<div>
				<ul class="nav mobile-nav">
					<li class="nav-item">
						<a class="nav-link mobile-link" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mobile-link" href="#portfolio">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mobile-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
