<div class="about-me">
	<div>
		<h1>About Me</h1>
		<p>
			I am Full-Stack Web Developer, with experience in creating
			responsive websites, servers, databases, front-end libraries (i.e.
			react, jquery, etc.), authentication, and maintaining websites in
			production. My background in web development allows me to be a great
			problem solver, push through any problem I may run into and create
			websites out of any idea.
		</p>
		<p>
			I am passionate about learning new ways to solve a problem with new
			technologies that I may encounter. I enjoy the process of learning
			new programming languages and computer science concepts. While
			learning the nuances of the programming language I am working with
			at the time, I really enjoy helping others understand those nuances.
		</p>
	</div>
</div>

<div class="resume">
	<a href="/assets/files/OnlineResume.pdf" target="_blank" class="btn btn-primary resume-button">
		<p>
			Resume
		</p>
	</a>
</div>

<div class="skills">
	<h1>Skills</h1>

	<div class="row">
		<div class="col-lg-6 front">
			<h2>Front End</h2>
			<p>
				JavaScript, React, Bootstrap 4, HTML5, CSS3, JQuery, AJAX, EJS,
				Flexbox, CSS Grid
			</p>
		</div>

		<div class="col-lg-6 back">
			<h2>Back End</h2>
			<p>
				MySQL, MongoDB, Node, Express, API, OAuth, Firebase, JWT,
				Python, RESTful Routing
			</p>
		</div>
	</div>
</div>
