<div class="footer">
    <div>
        <i class="fab fa-github-square"></i>
    </div>
    <div>
        <i class="fab fa-linkedin"></i>
    </div>
</div>
<div class="copyright">
    <p>&copy; Kevin Albarran</p>
</div>