<div class="footer">
    <a href="https://github.com/albarrank/" target="_blank">
        <i class="fab fa-github-square"></i>
    </a>
    <a href="https://www.linkedin.com/in/kevin-albarran-b33b30174/" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
</div>
<div class="copyright">
    <p>&copy; Kevin Albarran</p>
</div>