<h1>Portfolio</h1>
<div class="row">
	<div class="col-lg-4 project-card">
		<div class="overlay-image">
			<img
				class=" image"
				src="/assets/images/billsplit.png"
				alt="Alt text"
			/>
			<div class=" normal">
				<div class=" text">BillSplitt</div>
			</div>
			<div class=" hover">
				<div class=" text">Help split the bill with others</div>
			</div>
		</div>
		<button id="sourceCode" class="source-code btn btn-outline-primary">
			<i class="fas fa-code"></i>
		</button>
		<button id="liveProject" class="live-project btn btn-outline-primary">
			<i class="fas fa-eye"></i>
		</button>
	</div>

	<div class="col-lg-4 project-card">
		<div class="overlay-image">
			<img
				class=" image"
				src="/assets/images/billsplit.png"
				alt="Alt text"
			/>
			<div class=" normal">
				<div class=" text">BillSplitt</div>
			</div>
			<div class=" hover">
				<div class=" text">Help split the bill with others</div>
			</div>
		</div>
		<button id="sourceCode" class="source-code btn btn-outline-primary">
			<i class="fas fa-code"></i>
		</button>
		<button id="liveProject" class="live-project btn btn-outline-primary">
			<i class="fas fa-eye"></i>
		</button>
	</div>
</div>
