<h1>Portfolio</h1>

<div class="row">
	<div class="col-lg-6 project-card">
		<div class="overlay-image">
			<img
				class=" image"
				src="/assets/images/billsplit.png"
				alt="Alt text"
			/>
			<div class="normal">
				<div class=" text">BillSplitt</div>
			</div>
			<div class="hover">
				<div class=" text">Helps split the bill with other people</div>
			</div>
		</div>
		<a
			href="https://github.com/albarrank/BillSplitter"
			
			class="source-code btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-code"> </i>
		</a>
		<a
			href="https://bill-splitt.herokuapp.com/"
			
			class="live-project btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-eye"> </i>
		</a>
	</div>

	<div class="col-lg-6 project-card">
		<div class="overlay-image">
			<img
				class=" image"
				src="/assets/images/clicky.png"
				alt="Alt text"
			/>
			<div class="normal">
				<div class=" text">Memory Game</div>
			</div>
			<div class="hover">
				<div class=" text">
					A fun memory game of all your favorite kermit memes
				</div>
			</div>
		</div>
		<a
			href="https://github.com/albarrank/BillSplitter"
			
			class="source-code btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-code"> </i>
		</a>
		<a
			href="https://bill-splitt.herokuapp.com/"
			
			class="live-project btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-eye"> </i>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 project-card">
		<div class="overlay-image">
			<img
				class=" image"
				src="/assets/images/burger.png"
				alt="Alt text"
			/>
			<div class="normal">
				<div class=" text">Burger App</div>
			</div>
			<div class="hover">
				<div class=" text">Create your own burgers to devour</div>
			</div>
		</div>
		<a
			href="https://github.com/albarrank/BillSplitter"
			
			class="source-code btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-code"> </i>
		</a>
		<a
			href="https://bill-splitt.herokuapp.com/"
			
			class="live-project btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-eye"> </i>
		</a>
	</div>
	<div class="col-lg-6 project-card">
		<div class="overlay-image">
			<img
				class=" image"
				src="/assets/images/devconnector.png"
				alt="Alt text"
			/>
			<div class="normal">
				<div class=" text">Social Dev</div>
			</div>
			<div class="hover">
				<div class=" text">
					Social Media specifically for Developers
				</div>
			</div>
		</div>
		<a
			href="https://github.com/albarrank/BillSplitter"
			
			class="source-code btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-code"> </i>
		</a>
		<a
			href="https://bill-splitt.herokuapp.com/"
			
			class="live-project btn btn-outline-primary"
			target="_blank"
		>
			<i class="fas fa-eye"> </i>
		</a>
	</div>
</div>
